/* Profile */
.profile {
  background-color: var(--base-profile);
  display: flex;
  padding: 2.5rem 2rem;
  gap: 2rem;
  transform: translateY(-40%);
  border-radius: 10px;
}

.profile > img {
  width: 9.25rem;
  height: 9.25rem;
}

.profileInfo {
  margin-top: 0.5rem;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.profileHeader h1 {
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 700;
  color: var(--base-title);
}

.profileHeader a {
  color: var(--blue);
  font-weight: 700;
  font-size: 0.75rem;
  display: flex;
  gap: 0.5rem;
}

.profileFooter {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.profileFooter span {
  display: flex;
  gap: 0.5rem;
  color: var(--base-subtitle);
}

/* Home Content */
.homeContent {
  transform: translateY(-7.7%);
  margin-top: 4.5rem;
}

/* Page Header */
.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.pageHeader :first-child {
  color: var(--base-subtitle);
  font-size: 1.125rem;
  font-weight: 700;
}

.pageHeader :last-child {
  font-size: 0.875rem;
  color: var(--base-span);
}

/* Search Input */
.searchInput {
  background-color: var(--base-input);
  padding: 1rem 0.75rem;
  border-radius: 6px;
  width: 100%;
  border: 1px solid var(--base-border);
  margin-top: 0.75rem;
  margin-bottom: 3rem;
  color: var(--base-text);
}

.searchInput:focus {
  outline: 1px solid var(--blue);
}

.searchInput::placeholder {
  color: var(--base-label);
}

/* Posts */
.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-bottom: 14.625rem;
}
